
# Ignorar archivos temporales
*.tmp

# Ignorar archivos de compilación
*.o
*.out

# Ignorar directorios generados
/build/
/dist/
/node_modules
/package-lock.json   
mysql/#ib_16384_0.dblwr
mysql/#ib_16384_1.dblwr
mysql/ca.pem
mysql/
* text=auto
* text=auto
dist/


